.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;

  padding: 0;
  margin: 0;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
