.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 32px;
  border-bottom: 1px solid #000;

  background-color: #FDFBF8;

  position: sticky;
  top: 0;
  z-index: 50;

  letter-spacing: 0.4px;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  padding: 4px 2px;
  letter-spacing: 7.5px;

  position: relative;
  transition: color 0.2s ease;
}


.rightMenu {
  display: flex;
  align-items: center;
  gap: 36px; 
}


.linkWrapper {
  position: relative;
  display: inline-block;

  
  padding: 0 4px;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;

  z-index: 1;
  position: relative;
}

.linkWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -12%; 
  width: 125%;
  height: 100%;

  background-color: transparent;
  border: 1px solid transparent;

  transition: border-color 0.3s ease;
  z-index: -1;
}

.red::after {
  background-color: #E55347;
}

.blue::after {
  background-color: #2E6DB4;
}

.yellow::after {
  background-color: #fcbf49;
}

.linkWrapper:hover::after {
  border-color: #000;
}

.languageWrapper {
  margin-left: 14px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}
